/* |||||||||||||| start : Global rules ||||||||||||||*/
body {background:#161616;font-family: 'Noto Naskh Arabic', serif;}

ul,ol {margin: 0;padding: 0;list-style: none;}

a {text-decoration: none;}
/* |||||||||||||| start : main ||||||||||||||*/
#main {
    width: 100%;
    height: 102vh;
    box-sizing: border-box;
    background-color: #edf1fd;
    position: relative;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: right bottom;
}

#main nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: calibri;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: #f4f7ff;
    box-shadow: 2px 2px 12px rgba(0,0,0,0,.05);
    z-index: 1;
}

#main nav .logo {
    width: 70px;
    margin-left: 50px;
    color: #292929;
    font-family: Poppins;
}

#main nav .menu {display: flex;}

#main nav .menu li a {padding: 10px 15px ;color:#6c707c;font-size: 12px;}

.menu li a:hover,
.active
 {
    background-color: #292929;
    color: #FFF !important; 
    font-weight: 700;
    transition: all ease 0.4s;
}

#main nav .lang {color: #292929;margin-right: 50px;}

#main .name {
    font-family: calibri;
    width: 500px;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%,-50%);
}

#main .name p:nth-child(1),
#main .name .details {color: #6c707c;font-size: 16px;}

#main .name h1 {
    font-family: Poppins;
    font-size: 40px;
    margin: 0px;
    letter-spacing: 3px;
    color: #292929;
}

#main .name .cv-btn {
    width:200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    color:#fff;
}

#main .name .cv-btn:hover {background-color: #131313;transition: all ease 0.5s;}

/* |||||||||||||| end : main ||||||||||||||*/

