/* |||||||||||||| start : main rules ||||||||||||||*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background:#DDD;
    font-family: serif;
}


ul,ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 1200px;
    margin: auto;
}

/* |||||||||||||| end : main rules ||||||||||||||*/

/* |||||||||||||| start : Nav ||||||||||||||*/


nav .brand {
    float: left;
    width: 49%;
    margin-left: 1%;
}

nav .links {
    float: left;
    width: 50%;
}

nav .links li {
    display: inline-block;
    padding: 25px 30px;
    border-bottom: 2px solid transparent;
}

nav .links li.active,
nav .links li:hover {
    color: #1abc9c;
    border-bottom: 2px solid #1abc9c;
}


/* |||||||||||||| end : Nav ||||||||||||||*/

/* |||||||||||||| start : Content ||||||||||||||*/


/* |||||||||||||| end : Content ||||||||||||||*/

/* |||||||||||||| start : footer ||||||||||||||*/


/* |||||||||||||| end : footer ||||||||||||||*/

/* |||||||||||||| start : Framework ||||||||||||||*/
/*I could use it instead of writing overflow=hidden each time*/
.clearfix {
    clear: both;
}
/* |||||||||||||| end : Framework ||||||||||||||*/
