/* |||||||||||||| start : main rules ||||||||||||||*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background:#DDD;
    font-family: serif;
}


ul,ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 1200px;
    margin: auto;
}

/* |||||||||||||| end : main rules ||||||||||||||*/

/* |||||||||||||| start : Nav ||||||||||||||*/

nav {
    font-size: 20px;
    /*One of the methods to make a transparent header*/
    height: 0;
    color:#DDD;
}

nav .brand {
    float: left;
    width: 59%;
    margin-left: 1%;
}

nav .links {
    float: left;
    width: 40%;
}

nav .links li {
    display: inline-block;
    padding: 25px 0;
    margin: 0 10px;
    border-bottom: 2px solid transparent;
    font-weight: bold;
}

nav .links li.active,
nav .links li:hover {
    color: #1abc9c;
    border-bottom: 2px solid #1abc9c;
}


/* |||||||||||||| end : Nav ||||||||||||||*/

/* |||||||||||||| start : Header ||||||||||||||*/

.header {
    background: url('../images/header.jpg');
    height: 600px;
}

/* |||||||||||||| end : Header ||||||||||||||*/

/* |||||||||||||| start : footer ||||||||||||||*/


/* |||||||||||||| end : footer ||||||||||||||*/

/* |||||||||||||| start : Framework ||||||||||||||*/
/*I could use it instead of writing overflow=hidden each time*/
.clearfix {
    clear: both;
}
/* |||||||||||||| end : Framework ||||||||||||||*/
