/* |||||||||||||| start : main rules ||||||||||||||*/
.clearfix{clear: both;}

ul,ol {margin: 0;padding: 0;list-style: none;}

.container {width: 1080px;margin: auto;}
/* |||||||||||||| end : main rules ||||||||||||||*/

/* |||||||||||||| start : Header ||||||||||||||*/

    header .slider {
        background-image: url("../images/header.jpg");
        -webkit-background-size: cover; /*CSS3*/
        -moz-background-size: cover; /*CSS3*/
        -o-background-size: cover; /*CSS3*/
        background-size: cover; /*CSS3*/
        height:1080px;
    }
   
    header .slider .intro {padding-top: 336px;text-align: center;}

    header .slider .intro h2 {
        font-size: 60px;
        width:1000px;
        padding: 5px 0;
        margin: 0 auto;
        border-top: 5px solid #FFF;
        border-bottom: 5px solid #FFF;
        color: white;
    }

    header .slider .intro button {
        background:none;
        color: #FFF;
        margin-top: 49px;
        font-size: 20px;
        border: 1px solid #FFF;
        font-weight: bold;
        padding: 10px 20px;
    }

    header nav {background-color: rgb(37,47,49);color: #ffffff;overflow: hidden;}

    header nav h2 span {color: rgb(163, 116, 14);}

    header nav ul {overflow: hidden;float: right;}

    header nav ul li {float: left;padding:25px 10px;}

    header nav ul li a {color: #FFF;text-decoration: none;}

    header nav ul li.active a,
    header nav ul li a:hover {color: #30B576;}

/* |||||||||||||| end : Header ||||||||||||||*/

/* |||||||||||||| start : Features ||||||||||||||*/

.features {overflow:hidden;padding-top: 40px;padding-bottom: 50px;}

.features .feature {width:29.3%;padding: 2%;min-height: 150px; }

/* |||||||||||||| end : Features ||||||||||||||*/

/* |||||||||||||| start : About me ||||||||||||||*/

.about_me {background:rgb(241,241,241);overflow:hidden;}

.about_me .image {width:36%;}

.about_me .image img {height: 550px;}

.about_me .info {float: left;width: 63%;margin-left: 1%;}

.about_me .info h2 {margin: 30px 0 20px 10px;}

.about_me .info p {margin: 0 0 20px 0;}

.about_me .info > p {margin: 0 0 40px 10px;}

.about_me .info > p:last-of-type {margin-top: 30px}

.about_me .info .tech_hobbies {overflow:hidden;margin: 2f0px 0 0 0;}

.about_me .info .tech_hobbies .content {width: 50%;min-height: 80px;overflow: hidden;}

.about_me .info .tech_hobbies .content .icon {width:12%;margin-right: 5%;}

.about_me .info .tech_hobbies .content .icon img {max-width: 100%;margin: 10px 0 0 0;}

.about_me .info .tech_hobbies .content .text {width:83%;}

/* |||||||||||||| end : About me||||||||||||||*/

/* |||||||||||||| start : My Skills||||||||||||||*/

.my_skills {padding:30px 0 40px 0;overflow: hidden;}

.my_skills .skills,
.my_skills .progress {width: 50%;}

.my_skills .skills h2 {margin: 30px 0 20px 30px;}

.my_skills .skills p {margin: 0 0 20px 30px;}

.my_skills .skills p:last-of-type {margin-top: 30px}

.my_skills .skills button {margin-top: 20px;margin-left: 30px;}

.my_skills .progress .technique {margin-left: 50px;}

.my_skills .progress .technique div {background-color: #F2F2F2;height: 25px;}

.my_skills .progress .technique div span {
    background-color: #2DCC70;
    width: 80%;
    height: 25px;
    line-height: 25px;
    text-align: right;
    color: white;
    font-weight: bold;
    /*
    We wrote this line below because we want from the span to be showed above the div and not behind him 
    Also we wrote the width in html so we won't need to write a specific width for each spam
    */
    display: block;
    
}

/* |||||||||||||| end : My Skills||||||||||||||*/

/* |||||||||||||| start : Resume||||||||||||||*/

.resume {
    background:rgb(241,241,241);
    padding-top:60px;
    padding-bottom: 70px;
    text-align: center;
}

.resume p {margin-top: 40px;padding:0 40px;}

.resume button {margin-top: 15px;}

/* |||||||||||||| end : Resume||||||||||||||*/

/* |||||||||||||| start : My Education & Work Exp||||||||||||||*/

.my_education {padding: 30px 0;overflow: hidden;}

.my_education .general {width: 50%;margin-right: 5%;}

.my_education .exp {float: left;width: 45%;}

.my_education .general {margin: 30px 0 20px 0;}

.my_education .general p {margin: 0 0 20px 0px;}

.my_education .general p:last-of-type {margin-top: 20px}

.my_education .exp h3 {margin-top: 100px;}

.my_education .exp span {display: block;margin-top: 10px;}

.my_education .exp span:first-of-type {color:#999}

.my_education .exp span:last-of-type {
    background-color: #2DCC70;
    color:#FFF;
    display: inline-block;
    padding: 4px 8px;
}

/* |||||||||||||| end : My Education & Work Exp||||||||||||||*/

/* |||||||||||||| start : Testimonials||||||||||||||*/

.testimonials {
    background:rgb(241,241,241);
    padding-top: 50px;
    padding-bottom: 40px;
    text-align: center;
}

.testimonials q {color: #666;font: italic bold 18px/1.8 Arial,Tahoma,;}

.testimonials ul {list-style: none;text-align: center;}

.testimonials ul li {
    list-style: none;
    width: 8px;
    height: 8px;
    border:2px solid #2DCC70;
    display: inline-block;
    cursor: pointer;
    margin: 15px 5px 0 0;
    border-radius: 50%;
}

.testimonials ul li.active,
.testimonials ul li:hover {background-color: #2DCC70;}

/* |||||||||||||| end : Testimonials||||||||||||||*/


/* |||||||||||||| start : Portfolio||||||||||||||*/
.portfolio {
    padding-top: 40px;
    padding-bottom: 60px;
    text-align: center;
    overflow: hidden;
}

.portfolio .our_work div {margin: 1%;padding: 10px 0;}

.portfolio .our_work >div {
    /*I left this float over here because it dosen't matter for me if the float was right or left in terms of pictures unlike texts*/
    float: left;
    width: 31.2%;
    margin-bottom: 10px;
}

.portfolio .our_work >div img {
    width: 92%;
    margin: 10px;
    padding: 3px;
    background-color: #F1F1F1;
    border: 2px solid #CCC;
    box-shadow: 10px 10px 6px #CCC;
}

/* |||||||||||||| end : Portfolio||||||||||||||*/

/* |||||||||||||| start : Contact me||||||||||||||*/

.contact {
    background-color: #252F31;
    color:#ADADAD;
    overflow: hidden;
    padding: 50px 0 60px 0;
}

.contact .info {width: 50%;margin-right: 10%;}

.contact h2 {color: #FFF;}

.contact p {color: #6A6E71;}

.contact address p {margin: 70px 0 20px 0;}

.contact .info address a:hover {color:#666;}

.contact address strong {color: #ADADAD;}

.contact form {width: 40%;}

.contact form label {display: block;color: #D1D6DA;margin: 10px 0;}

/*
    You could write a specific type of input
    Ex: .contact .form input[type="text"] {}
*/
.contact form input {
    background-color: #4B5557;
    color: #FFF;
    padding: 5px 0;
    border: 0;
    width: 60%;
}

.contact form textarea {
    background-color: #4B5557;
    color: #FFF;
    padding: 10px 0;
    border: 0;
    width: 80%;
    height: 200px;
}

.contact form input[type="submit"] {
    background-color: #191E22;
    color: #FFF;
    border: 0;
    width: 40%;
    height: 50px;
    margin:20px 0 ;
}
/* |||||||||||||| end : Contact me||||||||||||||*/

/* |||||||||||||| start : Footer||||||||||||||*/

footer {
    background-color: rgb(25,30,34);
    color:#6A6E71;
    padding: 20px 0;
    text-align: center;
}

footer ul li {display: inline-block;cursor: pointer;}

footer ul img {
    width: 36px;
    height: 36px;
    margin: 0 4px;
    background-color: #485355;
    border-radius: 50%;
}

/* |||||||||||||| end : Footer||||||||||||||*/

/* |||||||||||||| start : My Framework||||||||||||||*/

.my_button {
    background: none;
    border: 3px solid #2DCC70;
    padding: 10px 30px;
    color: #2DCC70;
    font-weight: bold;
}

.fl_left {float: left;} /*I wrote this in frame work cause it will be easier if I wanted to make arabic ver of the website*/

p {color: #666;line-height: 1.5;}

h2,h3{text-transform: uppercase;color: #444;}

a {color:#FFF;}

hr {margin: 20px 0;color: #999;}

/* |||||||||||||| end : My Framework||||||||||||||*/